li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.nav li {
  display: inline-block;
  font-size: 15px;
  padding: 20px;
}

.head {
  /* background-color: darkgrey; */
}

.description {
  /* background-color:royalblue; */
}

.badge {
  color: #fff;
  background: #f44336;
  position: absolute;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  transform: scale(0.6);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  width: 22px;
  height: 22px;
  line-height: 22px;
}

.mat-expansion-panel-body {
  padding: 0px 0px 0px 25px !important;
  background-color:#f8f9fa;
}

.mat-expansion-panel-header {
  background-color:#f8f9fa;
}