<mat-card>
<mat-accordion class="example-headers-align">

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Parent
        </mat-panel-title>
        <mat-panel-description>
          Data
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Child
            </mat-panel-title>
            <mat-panel-description>
              Data
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    Child
                  </mat-panel-title>
                  <mat-panel-description>
                    Data
                    <mat-icon>account_circle</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                Child
              </mat-panel-title>
              <mat-panel-description>
                Data
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Child
                    </mat-panel-title>
                    <mat-panel-description>
                      Data
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              </mat-expansion-panel>
        </mat-expansion-panel>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Parent
          </mat-panel-title>
          <mat-panel-description>
            Data
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                Child
              </mat-panel-title>
              <mat-panel-description>
                Data
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Child
                    </mat-panel-title>
                    <mat-panel-description>
                      Data
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              </mat-expansion-panel>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Child
                </mat-panel-title>
                <mat-panel-description>
                  Data
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                      <mat-panel-title>
                        Child
                      </mat-panel-title>
                      <mat-panel-description>
                        Data
                        <mat-icon>account_circle</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
          </mat-expansion-panel>
  
      </mat-expansion-panel>
  </mat-accordion>
</mat-card>