<!-- <app-list></app-list> -->
<!-- <app-task-list-table></app-task-list-table> -->
<mat-toolbar color="primary">
    <span routerLink="">Task Manager</span>
    <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<!-- <nav>
    <a routerLink="">ListTask</a>
    <a routerLink="/AddTask" routerLinkActive="active">AddTask</a>
    <a routerLink="/UpdateTask">UpdateTask</a>
    <a routerLink="/TaskTable">TaskTable</a>
</nav> -->
<router-outlet></router-outlet>

<!-- <app-task-table>loading</app-task-table>
<app-list></app-list> -->