<!-- <app-list></app-list> -->
<!-- <app-task-list-table></app-task-list-table> -->
<mat-toolbar color="primary">
    <span routerLink="">Task Manager</span>
    <span style="display:block;float:right;"><!--</span> class="example-fill-remaining-space"> -->
    <!-- <div *ngIf="!taskService.checkAuthentication()">  
        <a style="color:whitesmoke;text-decoration :none" routerLink="/signup">SignUp</a>
        <a style="color:whitesmoke;text-decoration:none;" routerLink="/login">SignIn</a>  
    </div>         -->
    </span>
</mat-toolbar>
<!-- <nav>
    <a routerLink="">ListTask</a>
    <a routerLink="/AddTask" routerLinkActive="active">AddTask</a>
    <a routerLink="/UpdateTask">UpdateTask</a>
    <a routerLink="/TaskTable">TaskTable</a>
</nav> -->
<router-outlet></router-outlet>
<!-- <app-tree></app-tree> -->

<!-- <app-task-table>loading</app-task-table>
<app-list></app-list> -->

<mat-card>
    <mat-accordion class="example-headers-align">
        <app-expansion></app-expansion>
    </mat-accordion>
</mat-card>      