<!-- <div style="color:black">Notification:
    <p>Delete Notifaction:{{deleteMessage}}</p>
</div> -->

<!-- <mat-progress-spinner mode ="indeterminate" value=50 ></mat-progress-spinner> -->

<mat-card>

<div class="alert {{status_class}}">
   {{status}}
</div>

<!-- <div class="notify" color="primary" selected>{{status}}</div> -->

<mat-form-field class="search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Task">
</mat-form-field>

<!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div> -->

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef="Id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header='id'> Id </th>
      <td mat-cell *matCellDef="let element" > {{element.Task_id}} </td>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header='des'> Description </th>
      <td mat-cell *matCellDef="let element" >{{element.Task_des}} </td>
    </ng-container>

    <!-- priority Column -->
    <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header='priority'> Priority </th>
        <td mat-cell *matCellDef="let element" > {{element.Task_priority}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header='weight'> Weight </th>
      <td mat-cell *matCellDef="let element" > {{element.Task_weight}} </td>
    </ng-container>
  
    <!-- Dependant Column -->
    <ng-container matColumnDef="dependant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header='dependant'> Dependant </th>
        <td mat-cell *matCellDef="let element" > {{element.Task_dependant}} </td>
    </ng-container>

    <!-- Schedule Column -->
    <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header='schedule'> Schedule </th>
        <td mat-cell *matCellDef="let element" > {{element.Task_schedule}} </td>
    </ng-container>

    <!-- Task create date Column -->
    <ng-container matColumnDef="create">
        <th mat-header-cell *matHeaderCellDef mat-sort-header='time'> Created_on </th>
        <td mat-cell *matCellDef="let element" > {{element.Task_created_on | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef > Edit </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="primary" (click)="openUpdateDialog(element)" ><mat-icon class="delete">edit</mat-icon></button>
        </td>
    </ng-container>

    <ng-container matColumnDef="control">
        <th mat-header-cell *matHeaderCellDef > Delete </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="primary" (click)="deleteMe(element.Task_id)" ><mat-icon class="delete">delete</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row  *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons>
  </mat-paginator>

  <!-- <button mat-icon-button color="primary" routerLink="/AddTask"><mat-icon>add_circle_outline</mat-icon></button>
  <button (click)="openAddDialog()" mat-icon-button color="primary"><mat-icon>add_circle</mat-icon></button> -->
  
  <button (click)="openAddDialog()" mat-flat-button color="primary">Add</button>
  
</mat-card>

